@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    scroll-behavior:smooth;
    background-color: #F5F5F5;
}
body{
    border:none;
    outline:none;
    margin:0;
    padding:0;
    overflow-x:hidden;
    box-sizing:border-box;
}
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

:root {
  --primary: #2563eb;
  --text-dark: #0f172a;
  --text-mid: #475569;
  --text-light: #cbd5e1;
  --border: #e2e8f0;
  --bg-light: #f0f9ff;
}